<h1>Log In Below:</h1>

<form method="post" action="/sessions">
    <input id="email" name="email" type="text"  >
    <input id="password" name="password" type="password">
    <button type="submit" name="Log In" id="Log In">
</form>